

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #212936;
  --text-color: #212936;
  --background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212936;
    --foreground: #ededed;
    --text-color: #ededed;
    --background-color: #212936;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}


::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* 将以下样式移至一个新的文件，例如 src/app/styles/sk-folding-cube.css */

